In [1]:
import pandas as pd
import zipfile
import kaggle

In [2]:
#Download dataset from kaggle using the kaggle api
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
#extract files from the zip dataset
zipfile_name = "london-bike-sharing-dataset.zip"
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [4]:
#reading files using pandas library
bikes = pd.read_csv("london_merged.csv")

In [5]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [6]:
bikes.head(5)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [7]:
bikes.shape

(17414, 10)

In [8]:
new_cols_dict = {
    'timestamp':'time','cnt':'count','t1':'actual_temp_C','t2':'temp_feels_C','hum':'humidity_percentage','wind_speed':'wind_speed','weather_code':'weather',
    'is_holiday':'is_holiday','is_weekend':'is_weekend','season':'season'
}
#Rwenaming the coloumns to the speacified coloumn name
bikes.rename(new_cols_dict, axis = 1, inplace = True)

In [9]:
#normalizing humidity values
bikes['humidity_percentage'] = bikes['humidity_percentage']/100
print(max(bikes['humidity_percentage']))

1.0